<p id="notice"><%= notice %></p>

<h1>Atraccions</h1>

<table>
  <thead>
    <tr>
      <th>Lugar</th>
      <th>Nombre</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @atraccions.each do |atraccion| %>
      <tr>
        <td><%= atraccion.lugar %></td>
        <td><%= atraccion.nombre %></td>
        <td><%= link_to 'Show', atraccion %></td>
        <td><%= link_to 'Edit', edit_atraccion_path(atraccion) %></td>
        <td><%= link_to 'Destroy', atraccion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Atraccion', new_atraccion_path %>

<body class="home page page-id-1288 page-template page-template-full_width page-template-full_width-php  qode-title-hidden hide_top_bar_on_mobile_header columns-4 qode-product-single-tabs-on-bottom qode-child-theme-ver-1.0.0 qode-theme-ver-10.1.1 wpb-js-composer js-comp-ver-5.0.1 vc_responsive" itemscope="" itemtype="http://schema.org/WebPage" style="height: auto; overflow: auto;">

            <div class="wrapper">
  <div class="wrapper_inner">
  <!-- Google Analytics start -->
    <!-- Google Analytics end -->

  


<header class="has_woocommerce_dropdown  has_top scroll_top centered_logo  fixed scrolled_not_transparent page_header scrolled" style="top: -34px; margin-top: 34px;">
    <div class="header_inner clearfix">

    <div class="header_top_bottom_holder">
      <div class="header_top clearfix" style="display: none;">
              <div class="container">
          <div class="container_inner clearfix">
                                    <div class="left">

          </div>
          <div class="right">
            <div class="inner">
                      </div>
          </div>
                                      </div>
        </div>
          </div>
  </div>
  </div>

</header>    
<div class="content content_top_margin">
            <div class="content_inner  ">
                      <div class="full_width">
  <div class="full_width_inner">
                    <div class="vc_row wpb_row section vc_row-fluid " style=" text-align:left;"><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper"><div class="wpb_revslider_element wpb_content_element"><link href="http://fonts.googleapis.com/css?family=Marcellus+SC%3A400" rel="stylesheet" property="stylesheet" type="text/css" media="all"><link href="http://fonts.googleapis.com/css?family=Roboto%3A500" rel="stylesheet" property="stylesheet" type="text/css" media="all">
<div class="forcefullwidth_wrapper_tp_banner" id="rev_slider_1_1_forcefullwidth" style="position:relative;width:100%;height:auto;margin-top:0px;margin-bottom:0px"><div id="rev_slider_1_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-source="gallery" style="margin: 0px auto; background-color: transparent; padding: 0px; height: 640px; position: absolute; overflow: visible; width: 1349px; left: 0px;">
<!-- START REVOLUTION SLIDER 5.3.1 fullwidth mode -->
  <div id="rev_slider_1_1" class="rev_slider fullwidthabanner revslider-initialised tp-simpleresponsive" style="max-height: 640px; margin-top: 0px; margin-bottom: 0px; height: 640px;" data-version="5.3.1" data-slideactive="rs-2">
<ul class="tp-revslider-mainul" style="visibility: visible; display: block; overflow: hidden; width: 100%; height: 100%; max-height: none;">  <!-- SLIDE  -->
  <li data-index="rs-5" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-link="http://ballesteros.net/es/categoria/cristal-y-plata/" data-thumb="http://ballesteros.net/wp-content/uploads/2017/06/SlideSummer-esp-100x50.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="" class="tp-revslider-slidesli" style="width: 100%; height: 100%; overflow: hidden; z-index: 18; visibility: hidden; opacity: 0; background-color: rgba(255, 255, 255, 0);">
    <!-- MAIN IMAGE -->
    <div class="slotholder" style="position: absolute; top: 0px; left: 0px; z-index: 0; width: 100%; height: 100%; visibility: inherit; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);"><!--Runtime Modification - Img tag is Still Available for SEO Goals in Source - <img src="http://ballesteros.net/wp-content/uploads/2017/06/SlideSummer-esp.jpg" alt="" title="SlideSummer-esp" width="1290" height="511" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg defaultimg" data-no-retina="">--><div class="tp-bgimg defaultimg " style="background-color: rgba(0, 0, 0, 0); background-repeat: no-repeat; background-image: url(&quot;http://ballesteros.net/wp-content/uploads/2017/06/SlideSummer-esp.jpg&quot;); background-size: cover; background-position: center center; width: 100%; height: 100%; opacity: 1; visibility: inherit; z-index: 20;" src="http://ballesteros.net/wp-content/uploads/2017/06/SlideSummer-esp.jpg"></div></div>
    <!-- LAYERS -->
  <div class="tp-parallax-wrap" style="position: absolute; display: block; visibility: hidden; width: 100% !important; height: 100% !important; left: 0px; top: 0px; z-index: 60;"><div class="tp-loop-wrap" style="width:100% !important;height:100% !important;position:absolute;display:block;;"><div class="tp-mask-wrap" style="position: absolute; display: block; width: 100% !important; height: 100% !important; overflow: visible;"><div class="tp-caption slidelink" style="cursor: pointer; width: 100%; height: 100%; z-index: 60; visibility: inherit; transition: none; text-align: inherit; line-height: 26px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 300; font-size: 16px; white-space: nowrap; min-height: 0px; min-width: 0px; max-height: none; max-width: none; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform-origin: 50% 50% 0px;" data-x="center" data-y="center" data-basealign="slide" data-start="0" id="layer-709113280"><a style="width:100%;height:100%;display:block" target="_self" href="http://ballesteros.net/es/categoria/cristal-y-plata/"><span style="width:100%;height:100%;display:block"></span></a></div></div></div></div></li>
  <!-- SLIDE  -->
  <li data-index="rs-6" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="http://ballesteros.net/wp-content/uploads/2017/06/SlideLaIslaPtoVallarta-esp-100x50.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="" class="tp-revslider-slidesli" style="width: 100%; height: 100%; overflow: hidden; z-index: 18; visibility: hidden; opacity: 0; background-color: rgba(255, 255, 255, 0);">
    <!-- MAIN IMAGE -->
    <div class="slotholder" style="position: absolute; top: 0px; left: 0px; z-index: 0; width: 100%; height: 100%; visibility: inherit; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);"><!--Runtime Modification - Img tag is Still Available for SEO Goals in Source - <img src="http://ballesteros.net/wp-content/uploads/2017/06/SlideLaIslaPtoVallarta-esp.jpg" alt="" title="SlideLaIslaPtoVallarta-esp" width="1290" height="511" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg defaultimg" data-no-retina="">--><div class="tp-bgimg defaultimg " style="background-color: rgba(0, 0, 0, 0); background-repeat: no-repeat; background-image: url(&quot;http://ballesteros.net/wp-content/uploads/2017/06/SlideLaIslaPtoVallarta-esp.jpg&quot;); background-size: cover; background-position: center center; width: 100%; height: 100%; opacity: 1; visibility: inherit; z-index: 20;" src="http://ballesteros.net/wp-content/uploads/2017/06/SlideLaIslaPtoVallarta-esp.jpg"></div></div>
    <!-- LAYERS -->
  </li>
  <!-- SLIDE  -->
  <li data-index="rs-2" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="http://ballesteros.net/wp-content/uploads/2017/03/2-100x50.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="" class="tp-revslider-slidesli active-revslide" style="width: 100%; height: 100%; overflow: hidden; z-index: 20; visibility: inherit; opacity: 1; background-color: rgba(255, 255, 255, 0);">
    <!-- MAIN IMAGE -->
    <div class="slotholder" style="position: absolute; top: 0px; left: 0px; z-index: 0; width: 100%; height: 100%; visibility: inherit; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);"><!--Runtime Modification - Img tag is Still Available for SEO Goals in Source - <img src="http://ballesteros.net/wp-content/uploads/2017/03/2.jpg" alt="" title="2" width="1280" height="511" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg defaultimg" data-no-retina="">--><div class="tp-bgimg defaultimg " style="background-color: rgba(0, 0, 0, 0); background-repeat: no-repeat; background-image: url(&quot;https://www.visitmexico.com/sites/default/files/styles/extralarge/public/field/image/2017/01/guanajuato_destinos-principales_dolores_02.jpg?itok=-EcT4WIb&quot;); background-size: cover; background-position: center center; width: 100%; height: 100%; opacity: 1; visibility: inherit; z-index: 20;" src="http://ballesteros.net/wp-content/uploads/2017/03/2.jpg"></div></div>
    <!-- LAYERS -->

    <!-- LAYER NR. 1 -->
    <div class="tp-parallax-wrap" style="position: absolute; display: block; visibility: visible; left: 594px; top: 235px; z-index: 5;"><div class="tp-loop-wrap" style="position:absolute;display:block;;"><div class="tp-mask-wrap" style="position: absolute; display: block; overflow: visible;"><div class="tp-caption nombredelacoleccion   tp-resizeme" id="slide-2-layer-1" data-x="539" data-y="235" data-width="['auto']" data-height="['auto']" data-type="text" data-responsive_offset="on" data-frames="[{&quot;delay&quot;:400,&quot;speed&quot;:300,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;opacity:0;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:300,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;opacity:0;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]" data-textalign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 5; white-space: nowrap; border-width: 0px; visibility: inherit; transition: none; text-align: inherit; line-height: 22px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 400; font-size: 68px; min-height: 0px; min-width: 0px; max-height: none; max-width: none; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform-origin: 50% 50% 0px;">Conoce </div></div></div></div>

    <!-- LAYER NR. 2 -->
    <div class="tp-parallax-wrap" style="position: absolute; display: block; visibility: visible; left: 553px; top: 290px; z-index: 6;"><div class="tp-loop-wrap" style="position:absolute;display:block;;"><div class="tp-mask-wrap" style="position: absolute; display: block; overflow: visible;"><div class="tp-caption subtitulodecoleccion   tp-resizeme" id="slide-2-layer-2" data-x="498" data-y="290" data-width="['auto']" data-height="['auto']" data-type="text" data-responsive_offset="on" data-frames="[{&quot;delay&quot;:990,&quot;speed&quot;:230,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;opacity:0;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:300,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;opacity:0;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]" data-textalign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 6; white-space: nowrap; line-height: 22px; border-width: 0px; visibility: inherit; transition: none; text-align: inherit; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 400; font-size: 28px; min-height: 0px; min-width: 0px; max-height: none; max-width: none; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform-origin: 50% 50% 0px;">Dolores Hidalgo C.I.N Guanajuato </div></div></div></div>

    <!-- LAYER NR. 3 -->
    <div class="tp-parallax-wrap" style="position: absolute; display: block; visibility: visible; left: 787px; top: 340px; z-index: 7;"><div class="tp-loop-wrap" style="position:absolute;display:block;;"><div class="tp-mask-wrap" style="position: absolute; display: block; overflow: visible;"></div></div></div>
  </li>
  <!-- SLIDE  -->
  <li data-index="rs-1" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="580" data-link="/es/catalogo-corporativo/" data-thumb="http://ballesteros.net/wp-content/uploads/2017/05/04SlideRegalosCorportivos-100x50.png" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="" class="tp-revslider-slidesli" style="width: 100%; height: 100%; overflow: hidden; z-index: 18; visibility: hidden; opacity: 0; background-color: rgba(255, 255, 255, 0);">
    <!-- MAIN IMAGE -->
    <div class="slotholder" style="position: absolute; top: 0px; left: 0px; z-index: 0; width: 100%; height: 100%; visibility: inherit; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);"><!--Runtime Modification - Img tag is Still Available for SEO Goals in Source - <img src="http://ballesteros.net/wp-content/uploads/2017/05/04SlideRegalosCorportivos.png" alt="" title="04SlideRegalosCorportivos" width="1290" height="511" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg defaultimg" data-no-retina="">--><div class="tp-bgimg defaultimg " style="background-color: rgba(0, 0, 0, 0); background-repeat: no-repeat; background-image: url(&quot;http://ballesteros.net/wp-content/uploads/2017/05/04SlideRegalosCorportivos.png&quot;); background-size: cover; background-position: center center; width: 100%; height: 100%; opacity: 1; visibility: inherit; z-index: 20;" src="http://ballesteros.net/wp-content/uploads/2017/05/04SlideRegalosCorportivos.png"></div></div>
    <!-- LAYERS -->
  <div class="tp-parallax-wrap" style="position: absolute; display: block; visibility: hidden; width: 100% !important; height: 100% !important; left: 0px; top: 0px; z-index: 60;"><div class="tp-loop-wrap" style="width:100% !important;height:100% !important;position:absolute;display:block;;"><div class="tp-mask-wrap" style="position: absolute; display: block; width: 100% !important; height: 100% !important; overflow: visible;"><div class="tp-caption slidelink" style="cursor: pointer; width: 100%; height: 100%; z-index: 60; visibility: inherit; transition: none; text-align: inherit; line-height: 26px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 300; font-size: 16px; white-space: nowrap; min-height: 0px; min-width: 0px; max-height: none; max-width: none; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform-origin: 50% 50% 0px;" data-x="center" data-y="center" data-basealign="slide" data-start="0" id="layer-348578073"><a style="width:100%;height:100%;display:block" target="_self" href="/es/catalogo-corporativo/"><span style="width:100%;height:100%;display:block"></span></a></div></div></div></div></li>
</ul>
<script>var htmlDiv = document.getElementById("rs-plugin-settings-inline-css"); var htmlDivCss="";
            if(htmlDiv) {
              htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
            }else{
              var htmlDiv = document.createElement("div");
              htmlDiv.innerHTML = "<style>" + htmlDivCss + "</style>";
              document.getElementsByTagName("head")[0].appendChild(htmlDiv.childNodes[0]);
            }
          </script>
<div class="tp-bannertimer tp-bottom" style="visibility: hidden; width: 7.76667%; transform: translate3d(0px, 0px, 0px);"></div>  <div class="tp-loader spinner0" style="display: none;"><div class="dot1"></div><div class="dot2"></div><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div><div class="tp-leftarrow tparrows hesperiden" style="top: 50%; transform: matrix(1, 0, 0, 1, 20, -20); left: 0px; visibility: hidden; opacity: 0;"></div><div class="tp-rightarrow tparrows hesperiden" style="top: 50%; transform: matrix(1, 0, 0, 1, -60, -20); left: 100%; visibility: hidden; opacity: 0;"></div><div class="tp-bullets ares horizontal nav-pos-hor-center nav-pos-ver-bottom nav-dir-horizontal" style="width: 67px; height: 13px; top: 100%; transform: matrix(1, 0, 0, 1, -33, -33); left: 50%;"><div class="tp-bullet" style="left: 0px; top: 0px;"><span class="tp-bullet-title">Slide</span></div><div class="tp-bullet" style="left: 18px; top: 0px;"><span class="tp-bullet-title">Slide</span></div><div class="tp-bullet selected" style="left: 36px; top: 0px;"><span class="tp-bullet-title">Slide</span></div><div class="tp-bullet" style="left: 54px; top: 0px;"><span class="tp-bullet-title">Slide</span></div></div></div>
<script>var htmlDiv = document.getElementById("rs-plugin-settings-inline-css"); var htmlDivCss=".tp-caption.nombredelacoleccion,.nombredelacoleccion{color:rgba(255,255,255,1.00);font-size:68px;line-height:22px;font-weight:400;font-style:normal;font-family:Marcellus SC;text-decoration:none;background-color:transparent;border-color:transparent;border-style:none;border-width:0px 0px 0px 0px;border-radius:0px 0px 0px 0px}.tp-caption.subtitulodecoleccion,.subtitulodecoleccion{color:rgba(255,255,255,1.00);font-size:28px;line-height:22px;font-weight:400;font-style:normal;font-family:Marcellus SC;text-decoration:none;background-color:transparent;border-color:transparent;border-style:none;border-width:0px 0px 0px 0px;border-radius:0px 0px 0px 0px}";
        if(htmlDiv) {
          htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
        }else{
          var htmlDiv = document.createElement("div");
          htmlDiv.innerHTML = "<style>" + htmlDivCss + "</style>";
          document.getElementsByTagName("head")[0].appendChild(htmlDiv.childNodes[0]);
        }
      </script>
    <script type="text/javascript">
            /******************************************
        - PREPARE PLACEHOLDER FOR SLIDER  -
      ******************************************/

      var setREVStartSize=function(){
        try{var e=new Object,i=jQuery(window).width(),t=9999,r=0,n=0,l=0,f=0,s=0,h=0;
          e.c = jQuery('#rev_slider_1_1');
          e.gridwidth = [1240];
          e.gridheight = [640];
              
          e.sliderLayout = "fullwidth";
          if(e.responsiveLevels&&(jQuery.each(e.responsiveLevels,function(e,f){f>i&&(t=r=f,l=e),i>f&&f>r&&(r=f,n=e)}),t>r&&(l=n)),f=e.gridheight[l]||e.gridheight[0]||e.gridheight,s=e.gridwidth[l]||e.gridwidth[0]||e.gridwidth,h=i/s,h=h>1?1:h,f=Math.round(h*f),"fullscreen"==e.sliderLayout){var u=(e.c.width(),jQuery(window).height());if(void 0!=e.fullScreenOffsetContainer){var c=e.fullScreenOffsetContainer.split(",");if (c) jQuery.each(c,function(e,i){u=jQuery(i).length>0?u-jQuery(i).outerHeight(!0):u}),e.fullScreenOffset.split("%").length>1&&void 0!=e.fullScreenOffset&&e.fullScreenOffset.length>0?u-=jQuery(window).height()*parseInt(e.fullScreenOffset,0)/100:void 0!=e.fullScreenOffset&&e.fullScreenOffset.length>0&&(u-=parseInt(e.fullScreenOffset,0))}f=u}else void 0!=e.minHeight&&f<e.minHeight&&(f=e.minHeight);e.c.closest(".rev_slider_wrapper").css({height:f})
          
        }catch(d){console.log("Failure at Presize of Slider:"+d)}
      };
      
      setREVStartSize();
      
            var tpj=jQuery;
      
      var revapi1;
      tpj(document).ready(function() {
        if(tpj("#rev_slider_1_1").revolution == undefined){
          revslider_showDoubleJqueryError("#rev_slider_1_1");
        }else{
          revapi1 = tpj("#rev_slider_1_1").show().revolution({
            sliderType:"standard",
jsFileLocation:"//ballesteros.net/wp-content/plugins/revslider/public/assets/js/",
            sliderLayout:"fullwidth",
            dottedOverlay:"none",
            delay:9000,
            navigation: {
              keyboardNavigation:"off",
              keyboard_direction: "horizontal",
              mouseScrollNavigation:"off",
              mouseScrollReverse:"default",
              onHoverStop:"off",
              arrows: {
                style:"hesperiden",
                enable:true,
                hide_onmobile:false,
                hide_onleave:true,
                hide_delay:200,
                hide_delay_mobile:1200,
                tmp:'',
                left: {
                  h_align:"left",
                  v_align:"center",
                  h_offset:20,
                  v_offset:0
                },
                right: {
                  h_align:"right",
                  v_align:"center",
                  h_offset:20,
                  v_offset:0
                }
              }
              ,
              bullets: {
                enable:true,
                hide_onmobile:false,
                style:"ares",
                hide_onleave:false,
                direction:"horizontal",
                h_align:"center",
                v_align:"bottom",
                h_offset:0,
                v_offset:20,
                space:5,
                tmp:'<span class="tp-bullet-title">{{title}}</span>'
              }
            },
            visibilityLevels:[1240,1024,778,480],
            gridwidth:1240,
            gridheight:640,
            lazyType:"none",
            shadow:0,
            spinner:"spinner0",
            stopLoop:"off",
            stopAfterLoops:-1,
            stopAtSlide:-1,
            shuffle:"off",
            autoHeight:"off",
            disableProgressBar:"on",
            hideThumbsOnMobile:"off",
            hideSliderAtLimit:0,
            hideCaptionAtLimit:0,
            hideAllCaptionAtLilmit:0,
            debugMode:false,
            fallbacks: {
              simplifyAll:"off",
              nextSlideOnWindowFocus:"off",
              disableFocusListener:false,
            }
          });
        }
      }); /*ready*/
    </script>
    <script>
          var htmlDivCss = unescape(".hesperiden.tparrows%20%7B%0A%09cursor%3Apointer%3B%0A%09background%3Argba%280%2C0%2C0%2C0.5%29%3B%0A%09width%3A40px%3B%0A%09height%3A40px%3B%0A%09position%3Aabsolute%3B%0A%09display%3Ablock%3B%0A%09z-index%3A100%3B%0A%20%20%20%20border-radius%3A%2050%25%3B%0A%7D%0A.hesperiden.tparrows%3Ahover%20%7B%0A%09background%3Argba%280%2C%200%2C%200%2C%201%29%3B%0A%7D%0A.hesperiden.tparrows%3Abefore%20%7B%0A%09font-family%3A%20%22revicons%22%3B%0A%09font-size%3A20px%3B%0A%09color%3Argb%28255%2C%20255%2C%20255%29%3B%0A%09display%3Ablock%3B%0A%09line-height%3A%2040px%3B%0A%09text-align%3A%20center%3B%0A%7D%0A.hesperiden.tparrows.tp-leftarrow%3Abefore%20%7B%0A%09content%3A%20%22%5Ce82c%22%3B%0A%20%20%20%20margin-left%3A-3px%3B%0A%7D%0A.hesperiden.tparrows.tp-rightarrow%3Abefore%20%7B%0A%09content%3A%20%22%5Ce82d%22%3B%0A%20%20%20%20margin-right%3A-3px%3B%0A%7D%0A.ares.tp-bullets%20%7B%0A%7D%0A.ares.tp-bullets%3Abefore%20%7B%0A%09content%3A%22%20%22%3B%0A%09position%3Aabsolute%3B%0A%09width%3A100%25%3B%0A%09height%3A100%25%3B%0A%09background%3Atransparent%3B%0A%09padding%3A10px%3B%0A%09margin-left%3A-10px%3Bmargin-top%3A-10px%3B%0A%09box-sizing%3Acontent-box%3B%0A%7D%0A.ares%20.tp-bullet%20%7B%0A%09width%3A13px%3B%0A%09height%3A13px%3B%0A%09position%3Aabsolute%3B%0A%09background%3Argba%28229%2C%20229%2C%20229%2C%201%29%3B%0A%09border-radius%3A50%25%3B%0A%09cursor%3A%20pointer%3B%0A%09box-sizing%3Acontent-box%3B%0A%7D%0A.ares%20.tp-bullet%3Ahover%2C%0A.ares%20.tp-bullet.selected%20%7B%0A%09background%3Argba%28255%2C%20255%2C%20255%2C%201%29%3B%0A%7D%0A.ares%20.tp-bullet-title%20%7B%0A%20%20position%3Aabsolute%3B%0A%20%20color%3A136%2C%20136%2C%20136%3B%0A%20%20font-size%3A12px%3B%0A%20%20padding%3A0px%2010px%3B%0A%20%20font-weight%3A600%3B%0A%20%20right%3A27px%3B%0A%20%20top%3A-4px%3B%20%20%0A%20%20background%3Argba%28255%2C255%2C255%2C0.75%29%3B%0A%20%20visibility%3Ahidden%3B%0A%20%20transform%3Atranslatex%28-20px%29%3B%0A%20%20-webkit-transform%3Atranslatex%28-20px%29%3B%0A%20%20transition%3Atransform%200.3s%3B%0A%20%20-webkit-transition%3Atransform%200.3s%3B%0A%20%20line-height%3A20px%3B%0A%20%20white-space%3Anowrap%3B%0A%7D%20%20%20%20%20%0A%0A.ares%20.tp-bullet-title%3Aafter%20%7B%0A%20%20%20%20width%3A%200px%3B%0A%09height%3A%200px%3B%0A%09border-style%3A%20solid%3B%0A%09border-width%3A%2010px%200%2010px%2010px%3B%0A%09border-color%3A%20transparent%20transparent%20transparent%20rgba%28255%2C255%2C255%2C0.75%29%3B%0A%09content%3A%22%20%22%3B%0A%20%20%20%20position%3Aabsolute%3B%0A%20%20%20%20right%3A-10px%3B%0A%09top%3A0px%3B%0A%7D%0A%20%20%20%20%0A.ares%20.tp-bullet%3Ahover%20.tp-bullet-title%7B%0A%20%20visibility%3Avisible%3B%0A%20%20%20transform%3Atranslatex%280px%29%3B%0A%20%20-webkit-transform%3Atranslatex%280px%29%3B%0A%7D%0A%0A.ares%20.tp-bullet.selected%3Ahover%20.tp-bullet-title%20%7B%0A%20%20%20%20background%3Argba%28255%2C%20255%2C%20255%2C%201%29%3B%7D%0A.ares%20.tp-bullet.selected%3Ahover%20.tp-bullet-title%3Aafter%20%7B%0A%20%20border-color%3Atransparent%20transparent%20transparent%20rgba%28255%2C%20255%2C%20255%2C%201%29%3B%0A%7D%0A.ares.tp-bullets%3Ahover%20.tp-bullet-title%20%7B%0A%20%20visibility%3Ahidden%3B%0A%20%20%0A%7D%0A.ares.tp-bullets%3Ahover%20.tp-bullet%3Ahover%20.tp-bullet-title%20%7B%0A%20%20%20%20visibility%3Avisible%3B%0A%20%20%20%20transform%3AtranslateX%280px%29%20translatey%280px%29%3B%0A%20%20-webkit-transform%3AtranslateX%280px%29%20translatey%280px%29%3B%0A%7D%0A%0A%0A%2F%2A%20VERTICAL%20%2A%2F%0A.ares.nav-dir-vertical.nav-pos-hor-left%20.tp-bullet-title%20%7B%20right%3Aauto%3B%20left%3A27px%3B%20%20transform%3Atranslatex%2820px%29%3B%20-webkit-transform%3Atranslatex%2820px%29%3B%7D%20%20%0A.ares.nav-dir-vertical.nav-pos-hor-left%20.tp-bullet-title%3Aafter%20%7B%20%0A%20%20border-width%3A%2010px%2010px%2010px%200%20%21important%3B%0A%20%20border-color%3A%20transparent%20rgba%28255%2C255%2C255%2C0.75%29%20transparent%20transparent%3B%0A%20%20right%3Aauto%20%21important%3B%0A%20%20left%3A-10px%20%21important%3B%20%20%20%0A%7D%0A.ares.nav-dir-vertical.nav-pos-hor-left%20.tp-bullet.selected%3Ahover%20.tp-bullet-title%3Aafter%20%7B%0A%20%20border-color%3A%20%20transparent%20rgba%28255%2C%20255%2C%20255%2C%201%29%20transparent%20transparent%20%21important%3B%0A%7D%0A%0A%0A%0A%2F%2A%20HORIZONTAL%20BOTTOM%20%26%26%20CENTER%20%2A%2F%0A.ares.nav-dir-horizontal.nav-pos-ver-center%20.tp-bullet-title%2C%0A.ares.nav-dir-horizontal.nav-pos-ver-bottom%20.tp-bullet-title%20%7B%20top%3A-35px%3B%20left%3A50%25%3B%20right%3Aauto%3B%20transform%3A%20translateX%28-50%25%29%20translateY%28-10px%29%3B-webkit-transform%3A%20translateX%28-50%25%29%20translateY%28-10px%29%3B%20%7D%20%20%0A%0A.ares.nav-dir-horizontal.nav-pos-ver-center%20.tp-bullet-title%3Aafter%2C%0A.ares.nav-dir-horizontal.nav-pos-ver-bottom%20.tp-bullet-title%3Aafter%20%7B%20%0A%20%20border-width%3A%2010px%2010px%200px%2010px%3B%0A%20%20border-color%3A%20rgba%28255%2C255%2C255%2C0.75%29%20transparent%20transparent%20transparent%3B%0A%20%20right%3Aauto%3B%0A%20%20left%3A50%25%3B%0A%20%20margin-left%3A-10px%3B%0A%20%20top%3Aauto%3B%0A%20%20bottom%3A-10px%3B%0A%20%20%20%20%0A%7D%0A.ares.nav-dir-horizontal.nav-pos-ver-center%20.tp-bullet.selected%3Ahover%20.tp-bullet-title%3Aafter%2C%0A.ares.nav-dir-horizontal.nav-pos-ver-bottom%20.tp-bullet.selected%3Ahover%20.tp-bullet-title%3Aafter%20%7B%0A%20%20border-color%3A%20%20rgba%28255%2C%20255%2C%20255%2C%201%29%20transparent%20transparent%20transparent%3B%0A%7D%0A%0A.ares.nav-dir-horizontal.nav-pos-ver-center%20.tp-bullet%3Ahover%20.tp-bullet-title%2C%0A.ares.nav-dir-horizontal.nav-pos-ver-bottom%20.tp-bullet%3Ahover%20.tp-bullet-title%7B%0A%20%20%20transform%3AtranslateX%28-50%25%29%20translatey%280px%29%3B%0A%20%20-webkit-transform%3AtranslateX%28-50%25%29%20translatey%280px%29%3B%0A%7D%0A%0A%0A%2F%2A%20HORIZONTAL%20TOP%20%2A%2F%0A.ares.nav-dir-horizontal.nav-pos-ver-top%20.tp-bullet-title%20%7B%20top%3A25px%3B%20left%3A50%25%3B%20right%3Aauto%3B%20transform%3A%20translateX%28-50%25%29%20translateY%2810px%29%3B-webkit-transform%3A%20translateX%28-50%25%29%20translateY%2810px%29%3B%20%7D%20%20%0A.ares.nav-dir-horizontal.nav-pos-ver-top%20.tp-bullet-title%3Aafter%20%7B%20%0A%20%20border-width%3A%200%2010px%2010px%2010px%3B%0A%20%20border-color%3A%20%20transparent%20transparent%20rgba%28255%2C255%2C255%2C0.75%29%20transparent%3B%0A%20%20right%3Aauto%3B%0A%20%20left%3A50%25%3B%0A%20%20margin-left%3A-10px%3B%0A%20%20bottom%3Aauto%3B%0A%20%20top%3A-10px%3B%0A%20%20%20%20%0A%7D%0A.ares.nav-dir-horizontal.nav-pos-ver-top%20.tp-bullet.selected%3Ahover%20.tp-bullet-title%3Aafter%20%7B%0A%20%20border-color%3A%20%20transparent%20transparent%20%20rgba%28255%2C%20255%2C%20255%2C%201%29%20transparent%3B%0A%7D%0A%0A.ares.nav-dir-horizontal.nav-pos-ver-top%20.tp-bullet%3Ahover%20.tp-bullet-title%7B%0A%20%20%20transform%3AtranslateX%28-50%25%29%20translatey%280px%29%3B%0A%20%20-webkit-transform%3AtranslateX%28-50%25%29%20translatey%280px%29%3B%0A%7D%0A%0A%0A");
          var htmlDiv = document.getElementById('rs-plugin-settings-inline-css');
          if(htmlDiv) {
            htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
          }
          else{
            var htmlDiv = document.createElement('div');
            htmlDiv.innerHTML = '<style>' + htmlDivCss + '</style>';
            document.getElementsByTagName('head')[0].appendChild(htmlDiv.childNodes[0]);
          }
          </script>
        </div><div class="tp-fullwidth-forcer" style="width: 100%; height: 640px;"></div></div><!-- END REVOLUTION SLIDER --></div></div></div></div></div></div><div class="vc_row wpb_row section vc_row-fluid  vc_custom_1489693867114 grid_section" style=" text-align:left;"></div><div class="vc_row wpb_row section vc_row-fluid  vc_custom_1489773888581 grid_section" style=" text-align:left;"></div><div class="vc_row wpb_row section vc_row-fluid  vc_custom_1490115670418 grid_section" style=" text-align:left;"><div class=" section_inner clearfix"><div class="section_inner_margin clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">
  <div class="wpb_text_column wpb_content_element ">
    <div class="wpb_wrapper">
            <div class="wpcs_product_carousel_slider">

    <style type="text/css">

      .wpcs_product_carousel_slider .another_carousel_header i.prev-1781090049, .wpcs_product_carousel_slider .another_carousel_header i.next-1781090049 {
          background-color: #ef7918;
          color: #FFFFFF;
      }
      .wpcs_product_carousel_slider .another_carousel_header i.fa-angle-left.prev-1781090049:hover, .wpcs_product_carousel_slider .another_carousel_header i.fa-angle-right.next-1781090049:hover {
          background-color: #ffffff;
          color: #ef7918;
      }
      #woo-product-carousel-wrapper-536443415 .owl-item .item h4.product_name { 
        font-size: 16px; 
      }
      #woo-product-carousel-wrapper-536443415 .owl-item .item h4.product_name a { 
        color: #444444; 
      }
      #woo-product-carousel-wrapper-536443415 .owl-item .item h4.product_name a:hover {
          color: #000;
      }
      #woo-product-carousel-wrapper-536443415 .owl-item .item .price {
        font-size: 18px;
      }
      #woo-product-carousel-wrapper-536443415 .price {
          color: #ef7918;
      }
      #woo-product-carousel-wrapper-536443415 .price ins {
          color: #ef7918;
      }
      #woo-product-carousel-wrapper-536443415 .wpcs_rating .woocommerce-product-rating {
          color: #FFC500;
      }
      #woo-product-carousel-wrapper-536443415 .woocommerce .star-rating {
        font-size: 1em;
      }
      #woo-product-carousel-wrapper-536443415 .owl-item .item .cart .add_to_cart_button, #woo-product-carousel-wrapper-536443415 .owl-item .item .cart a.added_to_cart.wc-forward {
          color: #ffffff;
          background-color: #BBBBBB;
          border-color: #BBBBBB;
          font-size: 14px;
      }
      #woo-product-carousel-wrapper-536443415 .owl-item .item .cart .add_to_cart_button:hover, #woo-product-carousel-wrapper-536443415 .owl-item .item .cart a.added_to_cart.wc-forward:hover {
          background-color: #9A9A9A;
          border-color: #9A9A9A;
          color: ;
      }

    </style>

              <div class="another_carousel_header">
          <div class="title" style="font-size: 20px; color: #ef7918;">
            <img src="http://servidorabc.net/ballesteros/wp-content/uploads/2017/03/bblack.png" style="width: 73px; margin: 10px auto;"> 

          <span style="background:#212121; z-index: 2; position: relative; display: inline-block; width: 150px;">Atracciones
          </span>
          <hr style=" border-bottom:1px solid #ee7918; position: relative; top: -24px; z-index: 1;"></div>
                      <i class="fa fa-angle-left prev-1781090049"></i>
            <i class="fa fa-angle-right next-1781090049"></i>
                  </div>
          
        <div id="woo-product-carousel-wrapper-536443415" class="owl-carousel owl-theme" style="opacity: 1; display: block;">
                    <div class="owl-wrapper-outer"><div class="owl-wrapper" style="width: 8808px; left: 0px; display: block; transition: all 800ms ease; transform: translate3d(-367px, 0px, 0px);"><div class="owl-item" style="width: 367px;"><div class="item">
                          <div class="product_container">
                <div class="product_image_container">
                    <a id="id-5395" class="product_thumb_link" href="http://ballesteros.net/es/producto/cruz-con-catrina-y-flores/" title="CRUZ CON CATRINA Y FLORES">
                      <img src="http://ballesteros.net/wp-content/uploads/2017/06/MedallaCruz-1-2-300x300.png" class="wpcs-thum" alt="CRUZ CON CATRINA Y FLORES">                   </a>
                </div>
                  <div class="caption">
                                         
                      <h4 class="product_name"><a id="id-5395" href="http://ballesteros.net/es/producto/cruz-con-catrina-y-flores/" title="CRUZ CON CATRINA Y FLORES">CRUZ CON CATRINA Y FLORES</a></h4>
                                          <span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>5,097.60</span></span>
                                      </div>
                </div> 

            </div></div><div class="owl-item" style="width: 367px;"><div class="item">
                          <div class="product_container">
                <div class="product_image_container">
                    <a id="id-5389" class="product_thumb_link" href="http://cunadetierra.com/" title="DIJE CATRINA CON FLORES">
                      <img src="http://gastronomia.com/uploads/noticias/IMG_5388.jpg" class="wpcs-thum" alt="DIJE CATRINA CON FLORES">                    </a>
                </div>
                  <div class="caption">
                                         
                      <h4 class="product_name"><a id="id-5389" href="http://ballesteros.net/es/producto/dije-catrina-con-flores/" title="DIJE CATRINA CON FLORES">Viñedo Cuna de Tierra</a></h4>
                                          <span class="price"><span class="woocommerce-Price-amount amount">700 personas</span></span>
                                      </div>
                </div> 

            </div></div><div class="owl-item" style="width: 367px;"><div class="item">
                          <div class="product_container">
                <div class="product_image_container">
                    <a id="id-5384" class="product_thumb_link" href="museojosealfredojimenez.com.mx/" title="BRAZALETE DELGADO CON CALAVERAS Y FLORES">
                      <img src="http://www.vmexicoalmaximo.com/images/articulos/personajes/jose_alfredo_jimenez/Casa-Museo-Jose-Alfredo-Jimenez-2.jpg" class="wpcs-thum" alt="BRAZALETE DELGADO CON CALAVERAS Y FLORES">                   </a>
                </div>
                  <div class="caption">
                                         
                      <h4 class="product_name"><a id="id-5384" href="http://ballesteros.net/es/producto/brazalete-delgado-con-calaveras-y-flores/" title="BRAZALETE DELGADO CON CALAVERAS Y FLORES">Casa Museo José Alfredo Jiménez</a></h4>
                                          <span class="price"><span class="woocommerce-Price-amount amount">200 personas</span></span>
                                      </div>
                </div> 

            </div></div><div class="owl-item" style="width: 367px;"><div class="item">
                          <div class="product_container">
                <div class="product_image_container">
                    <a id="id-5380" class="product_thumb_link" href="http://doloreshidalgo.gob.mx/museo-independencia-antigua-carcel.html" title="BRAZALETE CON CALAVERAS Y FLORES">
                      <img src="http://dolores-hidalgo.com/images/museo-de-la-independencia-7.jpg?crc=264010925" class="wpcs-thum" alt="BRAZALETE CON CALAVERAS Y FLORES">                    </a>
                </div>
                  <div class="caption">
                                         
                      <h4 class="product_name"><a id="id-5380" href="http://ballesteros.net/es/producto/brazalete-con-calaveras-y-flores/" title="BRAZALETE CON CALAVERAS Y FLORES">Museo de la Independencia</a></h4>
                                          <span class="price"><span class="woocommerce-Price-amount amount">200 personas</span></span>
                                      </div>
                </div> 

            </div></div><div class="owl-item" style="width: 367px;"><div class="item">
                          <div class="product_container">
                <div class="product_image_container">
                    <a id="id-5376" class="product_thumb_link" href="http://eleconomista.com.mx/entretenimiento/2013/07/14/retono-arbol-noche-triste-sobrevive-guanajuato" title="BRAZALETE DE FLORES">
                      <img src="http://static.panoramio.com/photos/large/81518863.jpg" class="wpcs-thum" alt="BRAZALETE DE FLORES">                   </a>
                </div>
                  <div class="caption">
                                         
                      <h4 class="product_name"><a id="id-5376" href="http://ballesteros.net/es/producto/brazalete-de-flores/" title="BRAZALETE DE FLORES">Hijo de Árbol de la noche Triste</a></h4>
                                          <span class="price"><span class="woocommerce-Price-amount amount">500 personas</span></span>
                                      </div>
                </div> 

            </div></div><div class="owl-item" style="width: 367px;"><div class="item">
                          <div class="product_container">
                <div class="product_image_container">
                    <a id="id-5367" class="product_thumb_link" href="http://ballesteros.net/es/producto/brazalete-catrina/" title="BRAZALETE CATRINA">
                      <img src="http://ballesteros.net/wp-content/uploads/2017/06/BrazaleteCatrina-LD-1-1-300x300.png" class="wpcs-thum" alt="BRAZALETE CATRINA">                   </a>
                </div>
                  <div class="caption">
                                         
                      <h4 class="product_name"><a id="id-5367" href="http://ballesteros.net/es/producto/brazalete-catrina/" title="BRAZALETE CATRINA">BRAZALETE CATRINA</a></h4>
                                          <span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>8,762.68</span></span>
                                      </div>
                </div> 

            </div></div><div class="owl-item" style="width: 367px;"><div class="item">
                          <div class="product_container">
                <div class="product_image_container">
                    <a id="id-5366" class="product_thumb_link" href="http://ballesteros.net/es/producto/anillo-de-flores/" title="ANILLO DE FLORES">
                      <img src="http://ballesteros.net/wp-content/uploads/2017/06/AnilloFlores-P-1-1-300x300.png" class="wpcs-thum" alt="ANILLO DE FLORES">                   </a>
                </div>
                  <div class="caption">
                                         
                      <h4 class="product_name"><a id="id-5366" href="http://ballesteros.net/es/producto/anillo-de-flores/" title="ANILLO DE FLORES">ANILLO DE FLORES</a></h4>
                                          <span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>1,729.88</span></span>
                                      </div>
                </div> 

            </div></div><div class="owl-item" style="width: 367px;"><div class="item">
                          <div class="product_container">
                <div class="product_image_container">
                    <a id="id-5360" class="product_thumb_link" href="http://ballesteros.net/es/producto/anillo-calavera-con-flores/" title="ANILLO CATRINA CON FLORES">
                      <img src="http://ballesteros.net/wp-content/uploads/2017/06/AnilloCalavera-LI-1-1-300x300.png" class="wpcs-thum" alt="ANILLO CATRINA CON FLORES">                   </a>
                </div>
                  <div class="caption">
                                         
                      <h4 class="product_name"><a id="id-5360" href="http://ballesteros.net/es/producto/anillo-calavera-con-flores/" title="ANILLO CATRINA CON FLORES">ANILLO CATRINA CON FLORES</a></h4>
                                          <span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>1,718.08</span></span>
                                      </div>
                </div> 

            </div></div><div class="owl-item" style="width: 367px;"><div class="item">
                          <div class="product_container">
                <div class="product_image_container">
                    <a id="id-5181" class="product_thumb_link" href="http://ballesteros.net/es/producto/gallos-de-plata/" title="GALLOS DE PLATA">
                      <img src="http://ballesteros.net/wp-content/uploads/2017/06/GallosPlata-small-1-300x300.jpg" class="wpcs-thum" alt="GALLOS DE PLATA">                   </a>
                </div>
                  <div class="caption">
                                         
                      <h4 class="product_name"><a id="id-5181" href="http://ballesteros.net/es/producto/gallos-de-plata/" title="GALLOS DE PLATA">GALLOS DE PLATA</a></h4>
                                          <span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>6,298.00</span></span>
                                      </div>
                </div> 

            </div></div><div class="owl-item" style="width: 367px;"><div class="item">
                          <div class="product_container">
                <div class="product_image_container">
                    <a id="id-5176" class="product_thumb_link" href="http://ballesteros.net/es/producto/medalla-virgen-de-guadalupe/" title="MEDALLA VIRGEN DE GUADALUPE">
                      <img src="http://ballesteros.net/wp-content/uploads/2017/06/MedallaVirgenPlata-TB-300x300.jpg" class="wpcs-thum" alt="MEDALLA VIRGEN DE GUADALUPE">                   </a>
                </div>
                  <div class="caption">
                                         
                      <h4 class="product_name"><a id="id-5176" href="http://ballesteros.net/es/producto/medalla-virgen-de-guadalupe/" title="MEDALLA VIRGEN DE GUADALUPE">MEDALLA VIRGEN DE GUADALUPE</a></h4>
                                          <span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>1,505.00</span></span>
                                      </div>
                </div> 

            </div></div><div class="owl-item" style="width: 367px;"><div class="item">
                          <div class="product_container">
                <div class="product_image_container">
                    <a id="id-5160" class="product_thumb_link" href="http://ballesteros.net/es/producto/anillo-swarovski-rosa-2/" title="ANILLO SWAROVSKI ROSA">
                      <img src="http://ballesteros.net/wp-content/uploads/2017/06/AnilloSwa-PR3-TB-1-1-300x300.jpg" class="wpcs-thum" alt="ANILLO SWAROVSKI ROSA">                    </a>
                </div>
                  <div class="caption">
                                         
                      <h4 class="product_name"><a id="id-5160" href="http://ballesteros.net/es/producto/anillo-swarovski-rosa-2/" title="ANILLO SWAROVSKI ROSA">ANILLO SWAROVSKI ROSA</a></h4>
                                          <span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>2,145.00</span></span>
                                      </div>
                </div> 

            </div></div><div class="owl-item" style="width: 367px;"><div class="item">
                          <div class="product_container">
                <div class="product_image_container">
                    <a id="id-5159" class="product_thumb_link" href="http://ballesteros.net/es/producto/anillo-swarovski-azul-2/" title="ANILLO SWAROVSKI AZUL">
                      <img src="http://ballesteros.net/wp-content/uploads/2017/06/AnilloSwa-PA3-TB-1-300x300.jpg" class="wpcs-thum" alt="ANILLO SWAROVSKI AZUL">                    </a>
                </div>
                  <div class="caption">
                                         
                      <h4 class="product_name"><a id="id-5159" href="http://ballesteros.net/es/producto/anillo-swarovski-azul-2/" title="ANILLO SWAROVSKI AZUL">ANILLO SWAROVSKI AZUL</a></h4>
                                          <span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>2,145.00</span></span>
                                      </div>
                </div> 

            </div></div></div></div>
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                </div> <!-- End woo-product-carousel-wrapper -->
              </div> <!-- End wpcs_product_carousel_slider -->

    <script type="text/javascript"> 
      jQuery(document).ready(function($) {

          var owl = $("#woo-product-carousel-wrapper-536443415");

          owl.owlCarousel({
                autoPlay : true,
                items : 3,
                itemsDesktop : [1199,3],
                slideSpeed : 900,
                stopOnHover: true,             
                        pagination : false
          });

          $(".next-1781090049").click(function(){
            owl.trigger("owl.next");
          });

          $(".prev-1781090049").click(function(){
            owl.trigger("owl.prev");
          });

      });
    </script>

    </div> 
  </div> </div></div></div></div></div></div><div class="vc_row wpb_row section vc_row-fluid  vc_custom_1490116026688 grid_section" style=" text-align:left;"><div class=" section_inner clearfix"><div class="section_inner_margin clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">
  <div class="wpb_single_image wpb_content_element vc_align_center">
    <div class="wpb_wrapper">
      
      <a href="/es/sucursal-monterrey-fashion-drive/" target="_self"><div class="vc_single_image-wrapper   vc_box_border_grey"><img width="1005" height="221" src="http://ballesteros.net/wp-content/uploads/2015/05/Banner1005x221-esp.jpg" class="vc_single_image-img attachment-full" alt="Banner1005x221-esp" srcset="https://static-aemm.s3.amazonaws.com/media/cms_page_media/1430/talavera-de-puebla.jpg 300w, https://static-aemm.s3.amazonaws.com/media/cms_page_media/1430/talavera-de-puebla.jpg 768w, https://static-aemm.s3.amazonaws.com/media/cms_page_media/1430/talavera-de-puebla.jpg 1000w, https://static-aemm.s3.amazonaws.com/media/cms_page_media/1430/talavera-de-puebla.jpg 700w, https://static-aemm.s3.amazonaws.com/media/cms_page_media/1430/talavera-de-puebla.jpg 1005w" sizes="(max-width: 1005px) 100vw, 1005px"></div></a>
    </div>
  </div>
</div></div></div></div></div></div><div class="vc_row wpb_row section vc_row-fluid  vc_custom_1490116418174 grid_section" style=" text-align:left;"><div class=" section_inner clearfix"><div class="section_inner_margin clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">
  <div class="wpb_single_image wpb_content_element vc_align_center">
    <div class="wpb_wrapper">
      <div class="vc_single_image-wrapper   vc_box_border_grey"></div>
    </div>
  </div>
<div class="vc_text_separator wpb_content_element full separator_align_center tradicionbn"><div style="background-color:#efedec; color:#ee7918;"><span>Tradición e historia</span></div></div>
</div></div></div></div></div></div><div class="vc_row wpb_row section vc_row-fluid  vc_custom_1490117101002 grid_section" style=" text-align:left;"><div class=" section_inner clearfix"><div class="section_inner_margin clearfix"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner "><div class="wpb_wrapper">
  <div class="wpb_single_image wpb_content_element vc_align_left">
    <div class="wpb_wrapper">
      
      <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="559" height="372" src="http://ballesteros.net/wp-content/uploads/2015/05/platahome.jpg" class="vc_single_image-img attachment-full" alt="platahome" srcset="http://ballesteros.net/wp-content/uploads/2015/05/platahome-300x200.jpg 300w, http://ballesteros.net/wp-content/uploads/2015/05/platahome.jpg 559w" sizes="(max-width: 559px) 100vw, 559px"></div>
    </div>
  </div>
</div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner "><div class="wpb_wrapper"><div class="qode_video_box"><a itemprop="image" class="qode_video_image" href="https://www.youtube.com/watch?v=U1cW1E8Vi9Y
" data-rel="prettyPhoto" rel="prettyPhoto"><img width="561" height="372" src="http://www.pueblosmexico.com.mx/IMG/arton23406.jpg" class="attachment-full size-full" alt="video" srcset="http://www.pueblosmexico.com.mx/IMG/arton23406.jpg 300w, http://www.pueblosmexico.com.mx/IMG/arton23406.jpg 561w" sizes="(max-width: 561px) 100vw, 561px"><span class="qode_video_box_button_holder"><span class="qode_video_box_button"><span class="qode_video_box_button_arrow"></span></span></span></a></div></div></div></div></div></div></div>
                     
                        </div>
  </div>  
      
  </div>
</div>
    
</div>
</div>
<style type="text/css">
      .fb_iframe_widget > span {display: table !important;}
      .woo-social-buttons {margin:10px 0;}
      .woo-social-buttons img {vertical-align: top;}
      .woo-social-buttons span.custom {float:left; margin:0 5px 5px 0; }
      .woo-social-buttons span.nocount, .woo-social-buttons span.hcount {float:left; margin:0 5px 5px 0; height:21px;}
      .woo-social-buttons span.vcount {float:left; margin:0 5px 5px 0; height:65px;}
      .woo-social-buttons span.yithqv {float:left; margin:0 5px 5px 0; height:36px;}
      .woo-social-buttons iframe {margin: 0px !important; padding: 0px !important; vertical-align:baseline;}
      .woo-social-buttons .smsb_pinterest.vcount {position:relative; top:30px}
      .woo-social-buttons .smsb_tumblr iframe {height:20px !important; width:50px !important;} 
      .woo-social-buttons .smsb_tumblr.hcount iframe {height:20px !important; width:72px !important;}
      .woo-social-buttons .smsb_tumblr.vcount iframe {height:40px !important; width:55px !important;}
      .woo-social-buttons .smsb_stumbleupon.vcount iframe {height:60px !important; width:50px !important;}
      .woo-social-buttons .smsb_vkontakte table tr > td {padding:0px; line-height:auto;}
      .woo-social-buttons .smsb_vkontakte a {height:auto !important;}   
      </style>    <script type="text/javascript">
      function revslider_showDoubleJqueryError(sliderID) {
        var errorMessage = "Revolution Slider Error: You have some jquery.js library include that comes after the revolution files js include.";
        errorMessage += "<br> This includes make eliminates the revolution slider libraries, and make it not work.";
        errorMessage += "<br><br> To fix it you can:<br>&nbsp;&nbsp;&nbsp; 1. In the Slider Settings -> Troubleshooting set option:  <strong><b>Put JS Includes To Body</b></strong> option to true.";
        errorMessage += "<br>&nbsp;&nbsp;&nbsp; 2. Find the double jquery.js include and remove it.";
        errorMessage = "<span style='font-size:16px;color:#BC0C06;'>" + errorMessage + "</span>";
          jQuery(sliderID).show().html(errorMessage);
      }
    </script>
    <link rel="stylesheet" id="wpcs-owl-carousel-style-css" href="http://ballesteros.net/wp-content/plugins/product-carousel-slider-for-woocommerce/css/owl.carousel.css?ver=4.4.10" type="text/css" media="all">
<link rel="stylesheet" id="wpcs-owl-theme-style-css" href="http://ballesteros.net/wp-content/plugins/product-carousel-slider-for-woocommerce/css/owl.theme.css?ver=4.4.10" type="text/css" media="all">
<link rel="stylesheet" id="wpcs-owl-transitions-css" href="http://ballesteros.net/wp-content/plugins/product-carousel-slider-for-woocommerce/css/owl.transitions.css?ver=4.4.10" type="text/css" media="all">
<link rel="stylesheet" id="wpcs-font-awesome-css" href="http://ballesteros.net/wp-content/plugins/product-carousel-slider-for-woocommerce/css/font-awesome.min.css?ver=4.4.10" type="text/css" media="all">
<link rel="stylesheet" id="wpcs-custom-style-css" href="http://ballesteros.net/wp-content/plugins/product-carousel-slider-for-woocommerce/css/wpcs-styles.css?ver=4.4.10" type="text/css" media="all">
<script type="text/javascript" src="http://ballesteros.net/wp-content/plugins/contact-form-7/includes/js/jquery.form.min.js?ver=3.51.0-2014.06.20"></script>
<script type="text/javascript">
/* <![CDATA[ */
var _wpcf7 = {"loaderUrl":"http:\/\/ballesteros.net\/wp-content\/plugins\/contact-form-7\/images\/ajax-loader.gif","recaptchaEmpty":"Please verify that you are not a robot.","sending":"Enviando..."};
/* ]]> */
</script>
<script type="text/javascript" src="http://ballesteros.net/wp-content/plugins/contact-form-7/includes/js/scripts.js?ver=4.4"></script>
<script type="text/javascript" src="http://ballesteros.net/wp-content/plugins/woocommerce-collapsing-categories/assets/js/jquery.velocity.min.js?ver=4.4.10"></script>
<script type="text/javascript" src="//ballesteros.net/wp-content/plugins/woocommerce/assets/js/jquery-blockui/jquery.blockUI.min.js?ver=2.70"></script>
<script type="text/javascript">
/* <![CDATA[ */
var woocommerce_params = {"ajax_url":"\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/es\/?wc-ajax=%%endpoint%%"};
/* ]]> */
</script>
<script type="text/javascript" src="//ballesteros.net/wp-content/plugins/woocommerce/assets/js/frontend/woocommerce.min.js?ver=2.6.14"></script>
<script type="text/javascript" src="//ballesteros.net/wp-content/plugins/woocommerce/assets/js/jquery-cookie/jquery.cookie.min.js?ver=1.4.1"></script>
<script type="text/javascript">
/* <![CDATA[ */
var wc_cart_fragments_params = {"ajax_url":"\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/es\/?wc-ajax=%%endpoint%%","fragment_name":"wc_fragments"};
/* ]]> */
</script>
<script type="text/javascript" src="//ballesteros.net/wp-content/plugins/woocommerce/assets/js/frontend/cart-fragments.min.js?ver=2.6.14"></script>
<script type="text/javascript" src="http://ballesteros.net/wp-content/plugins/wpb-accordion-menu-or-category/assets/js/jquery.cookie.js?ver=1.4.1"></script>
<script type="text/javascript" src="http://ballesteros.net/wp-content/plugins/wpb-accordion-menu-or-category/assets/js/jquery.navgoco.min.js?ver=1.0"></script>
<script type="text/javascript">
/* <![CDATA[ */
var qodeLike = {"ajaxurl":"http:\/\/ballesteros.net\/wp-admin\/admin-ajax.php"};
/* ]]> */
</script>
<script type="text/javascript" src="http://ballesteros.net/wp-content/themes/bridge/js/qode-like.min.js?ver=4.4.10"></script>
<script type="text/javascript" src="http://ballesteros.net/wp-content/themes/bridge/js/plugins.js?ver=4.4.10"></script>
<script type="text/javascript" src="http://ballesteros.net/wp-content/themes/bridge/js/jquery.carouFredSel-6.2.1.min.js?ver=4.4.10"></script>
<script type="text/javascript" src="http://ballesteros.net/wp-content/themes/bridge/js/lemmon-slider.min.js?ver=4.4.10"></script>
<script type="text/javascript" src="http://ballesteros.net/wp-content/themes/bridge/js/jquery.fullPage.min.js?ver=4.4.10"></script>
<script type="text/javascript" src="http://ballesteros.net/wp-content/themes/bridge/js/jquery.mousewheel.min.js?ver=4.4.10"></script>
<script type="text/javascript" src="http://ballesteros.net/wp-content/themes/bridge/js/jquery.touchSwipe.min.js?ver=4.4.10"></script>
<script type="text/javascript" src="http://ballesteros.net/wp-content/plugins/js_composer/assets/lib/bower/isotope/dist/isotope.pkgd.min.js?ver=5.0.1"></script>
<script type="text/javascript" src="http://ballesteros.net/wp-content/themes/bridge/js/jquery.stretch.js?ver=4.4.10"></script>
<script type="text/javascript" src="http://ballesteros.net/wp-content/themes/bridge/js/default_dynamic.js?ver=1501038359"></script>
<script type="text/javascript" src="http://ballesteros.net/wp-content/themes/bridge/js/default.min.js?ver=4.4.10"></script>
<script type="text/javascript" src="http://ballesteros.net/wp-content/themes/bridge/js/custom_js.js?ver=1501038359"></script>
<script type="text/javascript" src="http://ballesteros.net/wp-includes/js/comment-reply.min.js?ver=4.4.10"></script>
<script type="text/javascript" src="http://ballesteros.net/wp-content/plugins/js_composer/assets/js/dist/js_composer_front.min.js?ver=5.0.1"></script>
<script type="text/javascript" src="http://ballesteros.net/wp-content/themes/bridge/js/woocommerce.js?ver=4.4.10"></script>
<script type="text/javascript" src="//ballesteros.net/wp-content/plugins/woocommerce/assets/js/select2/select2.min.js?ver=3.5.4"></script>
<script type="text/javascript" src="http://ballesteros.net/wp-content/plugins/woocommerce-social-media-share-buttons/smsb_script.js?ver=1.0.0"></script>
<script type="text/javascript" src="http://ballesteros.net/wp-includes/js/wp-embed.min.js?ver=4.4.10"></script>
<script type="text/javascript" src="http://ballesteros.net/wp-content/plugins/product-carousel-slider-for-woocommerce/js/owl.carousel.min.js?ver=1.3.3"></script>
<script type="text/javascript" src="http://ballesteros.net/wp-content/plugins/product-carousel-slider-for-woocommerce/js/custom.js?ver=1.3.3"></script>
      <script type="text/javascript">
        jQuery.noConflict();
        (function( $ ) {
          $(function() {
            // More code using $ as alias to jQuery
            $("area[href*=#],a[href*=#]:not([href=#]):not([href^='#tab']):not([href^='#quicktab']):not([href^='#pane'])").click(function() {
              if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
                if (target.length) {
                $('html,body').animate({
                scrollTop: target.offset().top - 20  
                },900 ,'easeInQuint');
                return false;
                }
              }
            });
          });
        })(jQuery); 
      </script>       
        
<div id="fb-root" class=" fb_reset"><div style="position: absolute; top: -10000px; height: 0px; width: 0px;"><div></div></div><div style="position: absolute; top: -10000px; height: 0px; width: 0px;"><div><iframe name="fb_xdm_frame_http" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" id="fb_xdm_frame_http" aria-hidden="true" title="Facebook Cross Domain Communication Frame" tabindex="-1" src="http://staticxx.facebook.com/connect/xd_arbiter/r/XBwzv5Yrm_1.js?version=42#channel=f243a07a2d01008&amp;origin=http%3A%2F%2Fballesteros.net" style="border: none;"></iframe><iframe name="fb_xdm_frame_https" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" id="fb_xdm_frame_https" aria-hidden="true" title="Facebook Cross Domain Communication Frame" tabindex="-1" src="https://staticxx.facebook.com/connect/xd_arbiter/r/XBwzv5Yrm_1.js?version=42#channel=f243a07a2d01008&amp;origin=http%3A%2F%2Fballesteros.net" style="border: none;"></iframe></div></div></div></body>