<p id="notice"><%= notice %></p>

<h1>Ubicación</h1>

<% if user_signed_in? %>
  <table>
    <thead>
      <tr>
        <th>Latitud</th>
        <th>Longitud</th>
        <th>Dirección</th>
        <th>Descripción</th>
        <th>Título</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @locations.each do |location| %>
        <tr>
          <td><%= location.latitude %></td>
          <td><%= location.longitude %></td>
          <td><%= location.address %></td>
          <td><%= location.description %></td>
          <td><%= location.title %></td>
          <td><%= link_to 'Mostrar', location, :class => 'btn btn-warning'%></td>
          <td><%= link_to 'Modificar', edit_location_path(location), :class => 'btn btn-success' %></td>
          <td><%= link_to 'Eliminar', location, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' %></td>

        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
  <%= link_to 'Nueva Ubicación', new_location_path, :class => 'btn btn-info' %>
<% end %>

<br>
<br>

<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>

<script type="text/javascript">
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
        markers = handler.addMarkers(<%=raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
    });
</script>

<!--buildMap(<%=raw @hash.to_json %>)-->
